<h1>Amigos</h1>

<p><%= link_to("Novo Amigo", new_friend_path) %></p>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Nome</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Ações</th>
  </tr>
  <% @friends.each do |e| %>
  <tr>
    <td><%= e.name %></td>
    <td><%= e.lat %></td>
    <td><%= e.long %></td>
    <td><%= actions_for(e) %></td>
  </tr>
  <% end %>
</table>