<!DOCTYPE html>
<html>
<head>
  <title>Exemplo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_tag(:div, flash[:notice], :style => "color:green") %>
  <%= content_tag(:div, flash[:error], :style => "color:red") %>

<div id="menu">
  <%= link_to("Amigos", friends_path) %>
  <%= link_to("Radar", '/friend_radar/index') %>
</div>
  
  <%= yield %>

</body>
</html>
